:root {
  --pink: #f9b5da;
  --purple: #d9b5fe;
  --blue: #79cbff;
  --dark: #120052;
  --green: #82e0bf;
  --yellow: #fef7ae;
  --magenta: #ee2d97;
}

html {
  margin: 0;
  background: radial-gradient(circle, #79cbff, #dbeff0, #79cbff);
}

h1 {
  text-align: center;
  font-size: 90px;
  font-weight: 600;
  font-family: 'Pirata one', cursive;
  color: var(--dark);
  text-shadow: 4px 4px 0px var(--green),
    6px 6px 0px var(--blue);
  padding-bottom: 5px;
}

h2 {
  text-justify: auto;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Pirata one', cursive;
  color: var(--dark);
  text-shadow: 4px 4px 0px var(--green),
    6px 6px 0px var(--blue);
  padding-left: 110px;
  padding-bottom: 5px;
}

p,
.instructions {
  text-align: auto;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
  padding: 110px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.button {
  display: flex;
  background: linear-gradient(
    to left,
    var(--green),
    var(--blue),
    var(--green),
    var(--blue)
  );
  background-size: 500% auto;
  font-family: 'Pirata one', cursive;
  transition: background-position 0.5s ease;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  bottom: 50px;
}

.btn {
  margin: 50px;
}

.button a {
  text-decoration: none;
}

.button:hover {
  background-position: 100% 0;
}

.disclaimer {
  text-align: auto;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #891010;
  padding: 110px;
  padding-bottom: 10px;
  padding-top: 15px;
}

@media (max-width: 768px) {
  html {
    margin-right: 10px;
    margin-left: 2px;

  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
    padding-left: 50px;
    padding-bottom: 5px;
  }

  p,
  .instructions {
    text-align: auto;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
    padding: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .instructions li {
    text-align: justify;
  }

  .disclaimer {
    text-align: auto;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #611111;
    padding: 20px;

  }

  .btn {
  margin: 50px;
  }
}
